extends includes/base

block content
    .col-8.mt-5.offset-2
        .row
            .col-12.text-center
                h1 
                    | Panel de Administración
                small
                    a(href="/") Ir al menú principal
                br
                small.font-12 Panel súper seguro de administración. ;)
        hr
        .row.mt-5
            .col-4.offset-4
                .row
                    .col-12
                        .form-group
                            input.btn.btn-primary.btn-block.js-btn-open-vote(type="button", value="Abrir votación")
                            input.btn.btn-danger.btn-block.js-btn-close-vote(type="button", value="Cerrar votación")
            table.table(style='display:none;')
                thead.thead-dark
                    tr                     
                        th(scope='col') Nombre del Candidato
                        th(scope='col') Cantidad de Votos
                tbody

block extra_js
    script.
        (function(){
            var App = {
                init: async function(){
                    await App.bindEvents();
                },
                drawResultsTable: async function(){
                    let index;
                    App.htmlElements.candidateTable.show();
                    const votes = await App.requests.fetchResults();
                    for(index = 0; index < votes[0].length; index++ ){
                        let candidateName = App.config.web3.utils.hexToUtf8(votes[0][index]);
                        let votesQty = votes[1][index];
                        $('.table > tbody').append(
                                                    `<tr>
                                                        <td>${candidateName}</td> 
                                                        <td>${votesQty}</td>
                                                    </tr>`);
                    }
                },
                config: {
                    account: undefined,
                    web3: undefined,
                    contractAddress: '0x35A9C000Ab334914CC4dc5e2ecF2B781482E1E74'
                },
                controls: {
                    swalOptions: {
                        openVote: {
                            title: 'Abrir Proceso de Votación',
                            text: '¿Está seguro que desea abrir el proceso de votación por este candidato?',
                            type: 'warning',
                            confirmButtonText: 'Votar',
                        },
                        closeVote: {
                            title: 'Proceso de Votación',
                            text: '¿Está seguro que desea cerrar el proceso de votación?',
                            type: 'warning',
                            confirmButtonText: 'Votar',
                        },
                    }
                },
                htmlElements: {
                    candidateTable: $('.table'),
                    btnOpen: $('.js-btn-open-vote'),
                    btnClose: $('.js-btn-close-vote')
                },
                bindEvents: async function(){
                    await App.associateWeb3Provider();
                    App.htmlElements.btnOpen.on('click', App.eventListeners.onBtnOpenClick);
                    App.htmlElements.btnClose.on('click', App.eventListeners.onBtnCloseClick);
                },
                associateWeb3Provider: async function(){
                    // Load WEB3
                    let accounts = undefined;
                    if (window.ethereum) { // for modern DApps browser
                        web3 = new Web3(ethereum);
                        try {
                            await ethereum.enable();
                        } catch (error) {
                            console.error(error);
                        }
                    } else if (web3) { // for old DApps browser
                        web3 = new Web3(web3.currentProvider);
                    } else {
                        console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                    }

                    if(web3!== 'undefined'){
                        accounts = await web3.eth.getAccounts();
                    }

                    App.config.web3 = web3;
                    App.config.account = accounts[0];
                },
                eventListeners: {
                    onBtnOpenClick: function(e){
                        Swal.fire(App.controls.swalOptions.openVote)
                            .then( (result) => {
                                if (result.value) App.requests.openVotePeriod();
                            });   
                    },
                    onBtnCloseClick: function(e){
                        Swal.fire(App.controls.swalOptions.closeVote)
                            .then( async (result) => {
                                if (result.value){
                                    await App.requests.closeVotePeriod();
                                    App.drawResultsTable();
                                }
                            });   
                    },
                },
                requests: {
                    openVotePeriod: async function(){
                        // Reload account
                        App.associateWeb3Provider();

                        // Continue
                        const contractJSON = await App.requests.fetchContract();
                        const { abi } = contractJSON;
                        const votingContract = new App.config.web3.eth.Contract(abi, App.config.contractAddress);
                        await votingContract.methods.initializeVoting().send({from: App.config.account});
                    },
                    closeVotePeriod: async function(){
                        // Reload account
                        App.associateWeb3Provider();

                        // Continue
                        const contractJSON = await App.requests.fetchContract();
                        const { abi } = contractJSON;
                        const votingContract = new App.config.web3.eth.Contract(abi, App.config.contractAddress);
                        await votingContract.methods.finishVoting().send({from: App.config.account});
                    },
                    fetchResults: async function(){
                         // Reload account
                        App.associateWeb3Provider();

                        // Continue
                        const contractJSON = await App.requests.fetchContract();
                        const { abi } = contractJSON;
                        const votingContract = new App.config.web3.eth.Contract(abi, App.config.contractAddress);
                        return votingContract.methods.getCandidatesVotes().call({from: App.config.account});
                    },
                    fetchContract: async function(){
                        return $.ajax({
                            url: 'api/contract',
                            method: 'POST'
                        });
                    }
                },
            };
            App.init();
        })();